/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "OpenSans", sans-serif;
  --secondary-font: "Montserrat", Arial, sans-serif;
  --color-primary: #14213d; /* Oxford Blue */
  /*--color-accent: #BA181B;      /* London Red */
  --color-accent: #fd7555;
  --color-secondary: #e5e5e5; /* Stone Grey */
  --color-highlight: #fca311; /* Gold Beige */
  --color-text: #333333; /* Charcoal */
  --color-background: #f9fafb; /* White Smoke */
}

/* Navbar */

#navbar {
  background-color: var(--color-primary);
}

#navbar .logo {
  width: 50px;
}

/* Image Hero */
.hero-header {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 76px;
  overflow: hidden;
  background-color: var(--color-background); /* ✅ uses your variable */
}

.hero-header .hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* ✅ shows entire image */
  object-position: center;
}



@media (max-width: 768px) {
  .hero-header {
    aspect-ratio: auto;  /* let height shrink naturally */
    max-height: 300px;
  }

  .hero-header .hero-img {
    object-position: top center; /* focus on top part of image */
  }
}


/* Buttons */

.custom-button-filled {
  border: 1px solid var(--color-accent);
  background-color: var(--color-secondary);
  color: var(--color-text);
  font-family: var(--primary-font);
  font-size: 1rem;
  border-radius: 0;
}

