/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CSS Variables */
:root {
    --primary-font: "OpenSans", sans-serif;
    --secondary-font: "Montserrat", Arial, sans-serif;
    --color-primary: #14213D;     /* Oxford Blue */
    --color-accent: #BA181B;      /* London Red */
    --color-secondary: #E5E5E5;   /* Stone Grey */
    --color-highlight: #FCA311;   /* Gold Beige */
    --color-text: #333333;        /* Charcoal */
    --color-background: #F9FAFB;  /* White Smoke */
}

/* Navbar */

#navbar {
    background-color: var(--color-secondary);
}

#navbar .logo {
    width: 40px;
}