/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "OpenSans", sans-serif;
  --secondary-font: "Montserrat", Arial, sans-serif;
  --color-primary: #14213d; /* Oxford Blue */
  /*--color-accent: #BA181B;      /* London Red */
  --color-accent: #fd7555;
  --color-secondary: #e5e5e5; /* Stone Grey */
  --color-highlight: #fca311; /* Gold Beige */
  --color-text: #333333; /* Charcoal */
  --color-background: #f9fafb; /* White Smoke */
}

/* Disable horizontal overflow site-wide */

html, body {
  overflow-x: hidden;
}

/* Navbar */

#navbar {
  background-color: var(--color-primary);
}

#navbar .logo {
  width: 50px;
}

/* HERO SECTION */

#hero {
  background-color: var(--color-primary);
  min-height: 600px;
  margin-top: 47px;
}

/* Hero text styling */
.hero-text h1 {
  font-size: 3.2rem;
  font-family: var(--primary-font);
  font-weight: 700;
}

.hero-text p {
  font-size: 1.3rem;
  font-family: var(--secondary-font);
  margin-top: 1rem;
}

#hero .row {
  margin: 0 !important;
}


/* Explore Restaurant Button */

.btn-sm {
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

.btn-sm:hover {
  background-color: var(--color-highlight);
  color: var(--color-primary);
}

/* Hero image */

.hero-illustration {
  width: 100%;
  filter: drop-shadow(0 6px 20px rgba(0,0,0,0.2));
}

/* Responsive in tablets and smaller screens */

@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding: 4rem 1rem;
  }
  .hero-image {
    margin-top: 2rem;
  }
  .hero-text h1 {
    font-size: 2.6rem;
  }
}

/* About card */

#about h2 {
  font-size: 3rem;
  font-family: var(--primary-font);
  color: var(--color-primary);
  padding: 2rem;
}

#about p {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: var(--color-primary);
  padding: 2rem;
}

.about-card {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: var(--color-primary);
  padding: 2rem;
  border-radius: 0;
  transition: transform .2s ease, box-shadow .2s ease;
}

.about-card h5 {
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: var(--color-primary)

}

.about-card i {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--color-accent);
}

.about-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(252, 163, 17, 0.4);
}

/* Restaurants Card */

#restaurants h2 {
  font-size: 3rem;
  font-family: var(--primary-font);
  color: var(--color-primary);
  padding: 2rem;
}

#filter-btn {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  padding: 2rem;
}

#searchInput {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

.restaurant-card {
  border-radius: 0;
  transition: transform .2s ease, box-shadow .2s ease;
}

.restaurant-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(252, 163, 17, 0.4);
}

.restaurant-card h5 {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: var(--color-primary);
  margin-top: 1rem;
}

.restaurant-card p {
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  color: var(--color-primary);
}

.restaurant-card .btn {
  border-radius: 0;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  color: var(--color-primary);
}





