/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "OpenSans", sans-serif;
  --secondary-font: "Montserrat", Arial, sans-serif;
  --color-primary: #14213d; /* Oxford Blue */
  /*--color-accent: #BA181B;      /* London Red */
  --color-accent: #fd7555;
  --color-secondary: #e5e5e5; /* Stone Grey */
  --color-highlight: #fca311; /* Gold Beige */
  --color-text: #333333; /* Charcoal */
  --color-background: #f9fafb; /* White Smoke */
}

/* Navbar */

#navbar {
  background-color: var(--color-primary);
}

#navbar .logo {
  width: 50px;
}

/* Image Hero */

main {
  flex: 1 0 auto;
  margin-top: 47px;
}

#hero {
  height: 600px;
  width: 100%;
  background: url("../images/img_hero.webp") no-repeat center center/cover;
}

