/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "OpenSans", sans-serif;
  --secondary-font: "Montserrat", Arial, sans-serif;
  --color-primary: #14213d; /* Oxford Blue */
  /*--color-accent: #BA181B;      /* London Red */
  --color-accent: #fd7555;
  --color-secondary: #e5e5e5; /* Stone Grey */
  --color-highlight: #fca311; /* Gold Beige */
  --color-text: #333333; /* Charcoal */
  --color-background: #f9fafb; /* White Smoke */
}

/* Navbar */

#navbar {
  background-color: var(--color-primary);
}

#navbar .logo {
  width: 50px;
}

/* Image Hero */

main {
  flex: 1 0 auto;
  margin-top: 47px;
}

#hero {
  height: 600px;
  width: 100%;
  background-color: var(--color-background);
}

/* About card */

#about h2 {
  font-size: 3rem;
  font-family: var(--primary-font);
  color: var(--color-primary);
  padding: 2rem;
}

#about p {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: var(--color-primary);
  padding: 2rem;
}

.about-card {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: var(--color-primary);
  padding: 2rem;
  border-radius: 12px;
  transition: transform .2s ease, box-shadow .2s ease;
}

.about-card h5 {
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: var(--color-primary)

}

.about-card i {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--color-accent);
}

.about-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(252, 163, 17, 0.4);
}





